<div id="revue-embed" class="border rounded p-6 mb-14">
    <div class="mb-4">
        <div class="text-secondary hover:text-light transition-colors duration-200 text-3xl font-medium mb-4">Be the first to know about new content and updated news in the industry.</div>
        <p class="lh-copy nested-copy-line-height nested-links">Sign up now and you’ll be the first know about upcoming posts, videos and streams as well as more opportunities to snag yourself a free pentester key with additional hints and giveaways.</p>
    </div>
    <form class="py-4 px-3 bg-light text-dark" action="https://www.getrevue.co/profile/codingo/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank">
    <div class="revue-form-group mb-4">
        <label class="block" for="member_email">Email address</label>
        <input class="revue-form-field block py-2 px-2 rounded w-full border-2 border-0 border-yellow-500" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
    </div>
    <div class="revue-form-group mb-4"
    >
        <label class="block" for="member_first_name">First name <span class="optional f6 mid-gray">(Optional)</span></label>
        <input class="revue-form-field block py-2 px-2 rounded w-full border-2 border-0 border-yellow-500" placeholder="First name... " type="text" name="member[first_name]" id="member_first_name">
    </div>
    <div class="revue-form-actions mb-4">
        <input class="bg-secondary text-black rounded px-3 py-2 cursor-pointer" type="submit" value="Keep me up to date" name="member[subscribe]" id="member_submit">
    </div>
    <div class="revue-form-footer text-sm bg-sec">By subscribing, you agree with Revue's <a target="_blank" href="https://www.getrevue.co/terms">Terms</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
    </form>
</div>