<div class="py-16 bg-dark"></div>
<div class="py-6 bg-dark sticky -top-2 z-10">
    <header class="content-container">
        <nav class="main-navigation" role="navigation">
            <div class="flex items-center">
                <a class="video-logo-compact-container" href="{{ .Site.Home.RelPermalink }}" class="flex-none">    
                    <video id="video-logo-compact" preload="true" autoplay="autoplay" muted>
                        <source src="/video/codingo-logo-compact.webm" type="video/webm">
                        <img src="/images/codingo-logo-lockup.png" alt=""><br />
                    </video>
                </a>
                <div class="flex-grow"></div>
                <div class="flex-none relative navigation-menu">
                    <div class="cursor-pointer hamburger">
                        <svg class="fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="menu-list absolute bg-secondary p-2 right-0 hidden">
                        {{ if .Site.Menus.main }}
                        <ul class="divide-y divide-red-400">
                            {{ range .Site.Menus.main }}
                            <li>
                            <a class="py-4 px-8 block cursor-pointer" href="{{ .URL }}" title="{{ .Name }}">
                                {{ .Name }}
                            </a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>

