
<div class="py-4 bg-dark"></div>

<header class="sticky top-0 bg-dark z-20">
    <nav id="page-menu" class="main-navigation content-container" role="navigation">
        <div class="flex items-center">
            <a class="video-logo-compact-container" href="{{ .Site.Home.RelPermalink }}" class="flex-none">    
                <video id="video-logo-compact" preload="true" autoplay="autoplay" muted>
                    <source src="/video/codingo-logo-compact.webm" type="video/webm">
                    <img src="/images/codingo-logo-lockup.png" alt=""><br />
                </video>
            </a>
            <div class="flex-grow"></div>
            <div class="flex-none relative navigation-menu">
                <div class="cursor-pointer hamburger">
                    <svg class="fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div id="site-menu" class="hidden">
                <div class="menu-list">
                  {{ if .Site.Menus.main }}
                  <ul class="divide-y divide-red-400">
                      {{ range .Site.Menus.main }}
                      <li>
                      <a class="py-4 px-8 block cursor-pointer" href="{{ .URL }}" title="{{ .Name }}">
                          {{ .Name }}
                      </a>
                      </li>
                      {{ end }}
                  </ul>
                  {{ end }}
                </div>
              </div>
        </div>
    </nav>
</header>


<div class="py-4 bg-dark"></div>
