<div class="w-full">
    <div id="fss-container" class="absolute w-full h-screen z-0"></div>
    <div class="relative z-10 mx-auto max-w-screen-sm text-center">
        <div class="content text-2xl">
            <img src="/images/codingo-logo.png" alt="" class="mx-auto">
            <img src="/images/codingo-logo-name.png" alt="CODINGO" class="mx-auto">

            <p class="px-7">A community built around the education of ethical hacking, with a focus on bug bounties and penetration testing.</p>


            <div class="social-links flex flex-row justify-center items-center">
                <a href="https://youtube.com/codingo" target="_blank" rel="external">
                    <img src="/images/social-yt.png" alt="CODINGO on YouTube">
                </a>
                <a href="https://www.facebook.com/codingo" target="_blank" rel="external">
                    <img src="/images/social-fb.png" alt="CODINGO on FaceBook">
                </a>
                <a href="https://twitter.com/codingo_" target="_blank" rel="external">
                    <img src="/images/social-twitter.png" alt="CODINGO on Twitter">
                </a>
                <a href="https://www.twitch.tv/codingo_" target="_blank" rel="external">
                    <img src="/images/social-twitch.png" alt="CODINGO on Twitch">
                </a>
                <a href="https://github.com/codingo" target="_blank" rel="external">
                    <img src="/images/social-github.png" alt="CODINGO on Github">
                </a>
            </div>
        </div>
    </div>
    <img id="background-ears" src="/images/background-ears.png" alt="">
</div>