{{ $fssScript := resources.Get "/js/fss.min.js" }}
{{ $codingoScript := resources.Get "/js/codingo.js" | js.Build }}
<script src="{{ $fssScript.Permalink }}"></script>
<script src="{{ $codingoScript.Permalink }}"></script>

{{ $codingoSearch := resources.Get "/js/codingoSearch.js" | js.Build }}
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
<script src="{{ $codingoSearch.Permalink }}"></script>
