<div id="site-intro" class="w-full h-full">
    <div id="fss-container" class="absolute w-full h-full z-0"></div>
    <div class="relative z-10 mx-auto max-w-screen-sm text-center px-8 overflow-hidden">
            <div class="logo-container">
                <video id="video-logo" preload="true" autoplay="autoplay" muted>
                    <source src="/video/codingo-logo.webm" type="video/webm">
                    <img src="/images/codingo-logo.png" alt=""><br />
                </video>
            </div>

            <div class="logo-name">
                <img src="/images/codingo-logo-name.png" alt="CODINGO">
            </div>
            <p class="mb-8 text-light leading-tight font-normal site-byline"><span>A community built around the education of ethical hacking, with a focus on bug bounties and penetration testing.</span></p>
    </div>
    


    
    {{ if .Site.Menus.main }}
    <ul class="text-lg btn-container px-8 mx-auto max-w-screen-sm text-center" >
        {{ range .Site.Menus.main }}
            {{ if ne .Identifier "search"  }}
            <li class="inline-block mb-6">
                <a class="page-link" href="{{ .URL }}" title="{{ .Name }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        {{ end }}
    </ul>
    {{ end }}

    <div class="route-searchbox-container mx-auto max-w-screen-sm px-8 pt-8 pb-8 relative z-10">
        <input id="route-searchbox" placeholder="// search site"></input>
    </div>



    <div class="relative z-10 mx-auto max-w-screen-sm px-8 overflow-hidden">
        <div class="intro-bottom-content relative z-10">
            <div class="z-10 relative">                
                
                <div class="social-links flex flex-row items-center">
                    <a href="https://youtube.com/codingo" target="_blank" rel="external">
                        <img src="/images/social-yt.png" alt="CODINGO on YouTube">
                    </a>
                    <a href="https://www.facebook.com/codingo" target="_blank" rel="external">
                        <img src="/images/social-fb.png" alt="CODINGO on FaceBook">
                    </a>
                    <a href="https://twitter.com/codingo_" target="_blank" rel="external">
                        <img src="/images/social-twitter.png" alt="CODINGO on Twitter">
                    </a>
                    <a href="https://www.twitch.tv/codingo_" target="_blank" rel="external">
                        <img src="/images/social-twitch.png" alt="CODINGO on Twitch">
                    </a>
                    <a href="https://github.com/codingo" target="_blank" rel="external">
                        <img src="/images/social-github.png" alt="CODINGO on Github">
                    </a>
                </div>
            </div>
            <!-- <img id="background-ears" src="/images/background-ears.png" alt="" class=""> -->
        </div>
    </div>

    
    
</div>
<div class="relative z-10 mx-auto max-w-screen-sm text-center ear-container">
    <img id="background-ears" src="/images/background-ears.png" alt="" class="absolute">
</div>