
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    
    .social-links a{
        @apply block p-4;
    }

    .button{
        @apply inline-block border rounded py-1 px-4 hover:bg-secondary hover:text-dark transition-colors duration-200;
    }
    .button-solid{
        @apply inline-block rounded py-1 px-4 bg-dark hover:bg-secondary hover:text-dark transition-colors duration-200;
    }
    .content-container{
        @apply w-5/6 mx-auto box-border;
    }

    .navigation-menu:hover .hamburger{
        @apply bg-secondary;
    }

    h1, h2{
        @apply text-secondary text-3xl font-medium hover:text-light transition-colors duration-200;
    }
    h2{
        @apply text-xl
    }

    @import './markdown.scss';
    @import './styles.scss';

}

#background-ears {
    top: 100%;
    position: absolute;
    z-index: 6;
    transform: translateY(-220px) translateX(-50%);
    left: 50%;
}
