@import './medias.scss';

.main-navigation{   
    .logo-lockup, .hamburger svg{
        height: 28px;
    }
}

#site-intro, #main-content{
    position: relative;
    z-index: 1;
}

div#site-intro {
    height: 95vh;
    
    .btn-container{
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        .inline-block a{
            border: 2px solid;
            border-radius: 4px;
            padding: 5px 20px;
            margin: 0px 5px;
        }
    }

    .logo-container{
        width: 40%;
        margin: 20px auto 0px auto;

        #video-logo{
            // transform: translateX(-22%);
            transform: scale(0.9) translateY(25px);
            margin: 0 0 10px 0;
        }
    }
    .logo-name{
        margin: 0px auto 30px;
        width: 50%;
        height: 50px;
    }
    .site-byline{
        text-align: center;
        font-size: 22px;
        &>span {
            // background-color:#181818;
            // box-shadow: 6px 0 0px 0px #181818, -6px 0 0px 0px #181818;
            // line-height: 1.3em;
        }
    }

    .social-links {
        justify-content: center;
        a {
            display: block;
            padding: 0 2rem 0px 0px;
        }
    }    
}

.route-searchbox-container{
    &::before{
        content: ' ';
        height: 35px;
        width: 35px;
        background-color: #0a6d53;
        display: block;
        position: absolute;
        margin-top: 6px;
        margin-left: 6px;
    }
}

input#route-searchbox {
    width: 100%;
    padding: 10px 15px 10px 50px;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 4px;
    position: relative;

    &::placeholder{
        color: #ffffff;
    }
}

#main-content{
    z-index: 10;
}

section.more-posts {
    margin: 40px 0px;
}

.video-logo-compact-container{
    display: block;
    transform: scale(0.75) translate(-50px, 0px);
}

.hamburger {
    border: 1px solid #fff;
    border-radius: 1px;
    padding: 4px;
}

.ear-container{
    pointer-events: none;
    transform: translateY(-80px) translateX(0%);
    #background-ears {
        width: 100%;
        max-width: none;
        z-index: 6;
        top: -30px;
    }
}

.additional-posts {
    border: 1px solid #f9fafb;
    margin: 10px 0;
    padding: 10px;
    h2 {
        font-size: 1.1em;
        line-height: 1.2em;
    }
}

.niceClassyName{
    border-bottom: 1px solid #0fb981;
    box-shadow: 0px 0px 28px -3px #14946a;
}

#second-menu{
    // transition: ease-in-out 250ms transform, ease-in-out 250ms opacity;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-60px);
    border-bottom: 1px solid #0fb981;
    box-shadow: 0px 0px 28px -3px #14946a;

    .video-logo-compact-container video{
        display: none;
    }

    &.its-your-time-to-shine{
        transition: ease-in-out 400ms transform, ease-in-out 250ms opacity;
        opacity: 1;
        transform: translateY(0px);
        pointer-events: all;
        .video-logo-compact-container video{
            display: block;
        }
    }
}


/** SEARCH **/

form.ais-SearchBox-form{
    background: none;
    height: 3.5rem;
    font-size: 1.2em;
}

input.ais-SearchBox-input {
    border-radius: 100px;
    border: 2px solid #0fb981;
    background: none;
    color: #fff;
    padding: 24px 2.1em;

    &::placeholder{
        color: #0fb981;
    }

    &.active, &:focus{
        border-color: #ffffff;
        // background: #99d2be59;

        &::placeholder{
            color: #929292;
        }
    }
}

div#hits, div#searchbox {
    color: #555;
}


div#hits{
    a.searchHitCategory {
        border: 2px solid #0fb981;
        border-radius: 100px;
        padding: 5px 16px;
        color: #0fb981;

        &:hover{
            background-color: #0fb98126;
        }

        .ais-Highlight-highlighted, .ais-Snippet-highlighted {
            text-decoration: none;
            background: none;
        }
    }

    .ais-Hits--empty{
        .noResults {
            background: #fff;
            border-radius: 4px;
            padding: 10px;
            margin-top: 20px;
            overflow-wrap: break-word;
        }
    }
}

li.ais-Hits-item {
    text-align: left;
    padding: 16px;

    article{
        h3{
            font-size: 1.3em;
            margin-bottom: 12px;
        }
        p:before {
            content: '...';
        }
        p:after {
            content: '...';
        }
        .ais-Highlight-highlighted, .ais-Snippet-highlighted {
            background-color: #0fb98126;
            color: #0fb981;
            text-decoration: underline;
        }
    }
}



li.ais-Hits-item {
    background: none;
    border: none;
    color: #fff;
    box-shadow: none;
}


.search-container{
    .search-results {
        margin-top: 40px;
    }

    div#tagslist .ais-RefinementList{
        border: 1px solid #0fb981;
        padding: 16px 20px;
        height: fit-content;
        margin: 10px;
        min-width: 210px;
    }

    li.ais-Hits-item {
        padding: 0px;
    }

    a.post-summary {
        width: 100%;

        &.youtube-result{

            article {
                display: block;

                .youtube-thumbnail{
                    height: auto;
                    width: 100%;
                    margin-bottom: 20px;
                }
                .youtube-text{
                    padding: 0px 0px;
                }
            }
        }

    }
    .post-summary {
        width: 100%;
        padding: 16px;
        border: 1px solid #0fb981;
        margin: 10px;
    }
}



/******/

.btn-ghost{
    @apply inline-block border rounded py-2 px-3 hover:bg-secondary transition-colors duration-200;
}

#revue-embed{
    form{
        border-radius: 0 0 3px 3px;
        .revue-form-field{
            border: solid 1px #0a6d53;
        }
        .revue-form-actions{
            color: #050315;
        }
    }
}

#fss-container-footer{
    height: 500px;
}

@include desktop{

    #background-ears {
        top: 98%;
        width: 120%;
    }
    
    .post-summary {
        width: 48%;
        padding: 16px;
        border: 1px solid #0fb981;
        margin: 10px;
    }
    .post-summaries {
        display: flex;
        flex-wrap: wrap;
    }

    #revue-embed{
        margin-top: 3.5rem;
        margin-left: 2px;
        margin-right: 2px;
    }

    .revue-form-group{
        display: inline-block;
        width: 40%;
        margin-right: 10px;
    }
    
    .main-navigation{
        padding: 0 11px;
    }

    section.more-posts {
        margin: 40px 10px;
    }


    .search-container{
        .search-results {
            display: flex;
            margin-top: 40px;
        }

        div#tagslist .ais-RefinementList{
            border: 1px solid #0fb981;
            padding: 16px 20px;
            height: fit-content;
            margin: 10px;
            min-width: 210px;
        }

        li.ais-Hits-item {
            padding: 0px;
        }

        a.post-summary {
            width: 100%;

            &.youtube-result{

                article {
                    display: flex;

                    .youtube-thumbnail{
                        height: 90px;
                        width: auto;
                    }
                    .youtube-text{
                        padding: 0px 20px;
                    }
                }
            }

        }
    }
    
}