
<div id="site-intro">
    <div id="fss-container"></div>
    <div class="intro-content">
        <div class="copy">
            <img src="/images/codingo-logo.png" alt=""><br/>
            <img src="/images/codingo-logo-name.png" alt="CODINGO">
            
            <p>Global Head of Security Ops and Researcher Enablement for Bugcrowd.</p>
            <p>I make <strong>instructional content</strong> about <strong>hacking and security</strong> as well as <strong>develop tools</strong> I feel would benefit the <strong>security community</strong>.</p>

            <div class="social-links">
                <img src="/images/social-yt.png" alt="">
                <img src="/images/social-fb.png" alt="">
                <img src="/images/social-twitter.png" alt="">
                <img src="/images/social-twitch.png" alt="">
                <img src="/images/social-github.png" alt="">
            </div>
        </div>
    </div>
    <img id="background-ears" src="/images/background-ears.png" alt="">
</div>