<div id="site-intro">
    <div id="fss-container"></div>
    <div class="intro-content w-100 ph3">
        <div class="copy">
            <img src="/images/codingo-logo.png" alt=""><br />
            <img src="/images/codingo-logo-name.png" alt="CODINGO">

            <p>A community built around the education of ethical hacking, with a focus on bug bounties and penetration
                testing.</p>


            <div class="social-links">
                <a href="https://youtube.com/codingo" target="_blank" rel="external">
                    <img src="/images/social-yt.png" alt="CODINGO on YouTube">
                </a>
                <a href="https://www.facebook.com/codingo" target="_blank" rel="external">
                    <img src="/images/social-fb.png" alt="CODINGO on FaceBook">
                </a>
                <a href="https://twitter.com/codingo_" target="_blank" rel="external">
                    <img src="/images/social-twitter.png" alt="CODINGO on Twitter">
                </a>
                <a href="https://www.twitch.tv/codingo_" target="_blank" rel="external">
                    <img src="/images/social-twitch.png" alt="CODINGO on Twitch">
                </a>
                <a href="https://github.com/codingo" target="_blank" rel="external">
                    <img src="/images/social-github.png" alt="CODINGO on Github">
                </a>
            </div>
        </div>
    </div>
    <img id="background-ears" src="/images/background-ears.png" alt="">
</div>