
<div id="site-intro">
    <div id="fss-container"></div>
    <div class="intro-content">
        <div class="copy">
            <img src="/images/codingo-logo.png" alt=""><br/>
            <img src="/images/codingo-logo-name.png" alt="CODINGO">
            
            <p>A community built around the education of ethical hacking, with a focus on bug bounties and penetration testing.</p>
        

            <div class="social-links">
                <a href="https://"><img src="/images/social-yt.png" alt=""></a>
                <a href="https://"><img src="/images/social-fb.png" alt=""></a>
                <a href="https://"><img src="/images/social-twitter.png" alt=""></a>
                <a href="https://"><img src="/images/social-twitch.png" alt=""></a>
                <a href="https://"><img src="/images/social-github.png" alt=""></a>
            </div>
        </div>
    </div>
    <img id="background-ears" src="/images/background-ears.png" alt="">
</div>